.mat-btn {
    color: #fff;
    width: 10px;
    background-color: #ff0000;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: darkred;
    }
  }
  