.screen-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;
  width: 100%;
  height: 100%;
  padding: 2px;
  box-sizing: border-box;

  .icon {
    font-size: 40px;
    color: #6e6e6e;
  }

  p {
    margin: 0;
    text-align: center;

    @media (max-width: 500px) {
      font-size: 13px;
    }
  }

  .note {
    font-size: 13px;

    @media (max-width: 500px) {
      font-size: 10px;
    }
  }
}