.titlebar {
  background-color: black;
  padding: 3px 5px;
  height: 30px;
  position: relative;
  display: flex;
  user-select: none;
  gap: 2px;

  .search {
    min-width: 1px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-grow: 2;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;

      >img {
        width: 16px !important;
        height: 16px !important;
      }
    }

    #query-link {
      box-sizing: border-box;
      width: 100%;
      height: 20px;
      background-color: rgb(49, 49, 49);
      border: 0 !important;
      border-radius: 4px !important;
      color: white !important;
      font-size: 11px;
      box-sizing: border-box;
      padding: 0 5px;
    }

    .btn-play {
      height: 20px;
      padding: 0 15px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #FF0000 !important;
      color: #FFF !important;
      font-size: 10px !important;
      cursor: pointer;

      > * {
        color: #FFF !important;
        font-size: 16px;
      }

      @media screen and (max-width: 300px) {
        font-size: 9px !important;
      }
    }
  }

  .title-dragger {
    flex-grow: 3;
    height: 100%;
    user-select: none;
    cursor: grab;
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }

  .title-menu {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3px;
  }

  .btn {
    max-height: 20px;
    min-height: 20px;
    cursor: pointer !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px !important;
    max-width: 10px;

    &-embed-toggle {
      @extend .btn;
      background-color: #00bcc9 !important;

      &:hover {
        background-color: #00ccff !important;
      }

      &-not-run {
        opacity: 0.5;
      }
    }

    &-minimize {
      @extend .btn;
      background-color: #6c6c6c !important;

      &:hover {
        background-color: #888888 !important;
      }
    }

    &-close {
      @extend .btn;
      background-color: #FF0000;

      &:hover {
        background-color: #ff4343 !important;
      }
    }
  }
}
