* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  background-color: rgb(43, 43, 43);
}

#root {
  height: 100vh;
}

.app {
  width: 100%;
  height: 100%;
  padding: 2px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}